<center><h1>Adafruit Saved Articles </h1></center>
<div id="topButtons" class="container">
    <div class="row">
        <div class="col-sm-5"></div>
        <a href="/" id = "unsaved"class="col-sm-2"><button>Unsaved Articles</button></a>
        <div class="col-sm-5"></div>
    </div>
</div>
<ul>Articles {{#each article}}
    <li ><article><h2>{{this.title}}</h2>
    Author:{{this.author}}
    <figure>
        <a href="{{this.url}}">{{{this.imgVideo}}}</a>
        
        <figcaption>{{this.description}}</figcaption>
    </figure></article>
    <button class="saveArticle btn btn-info btn-lg"data-id="{{this._id}}">Save This</button>
    <button type="button" class="openNotes btn btn-info btn-lg" data-id="{{this._id}}" data-toggle="modal" data-target="#myModal">My Notes/Take Notes</button>
    {{!-- note modal --}}<!-- Modal -->
    <div class="container">
  <!-- Trigger the modal with a button -->
        {{!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Take Notes</button> --}}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
                <br>INPUT TITLE:<input id="inpT"class= "titleInput" placeholder="Enter Note title"><br>
                INPUT BODY:<input id="inpB" class= "bodyInput" placeholder="Enter Note">
                </div>
                
                <h4>My TITLE:</h4> <h4 class="modal-title" id="modalTitle"></h4>
                <div class="modal-body notes">
                    
                My BODY: <p id="notesTaken"></p>
                </div>
                
                <div class="modal-footer">
                <button class="takeNote btn btn-default" data-id="{{this._id}}">Submit Note</button>
                <button class="deleteNote btn btn-default">Delete Note</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</article>
<br>
    <button class="deleteArticle btn btn-default"data-id="{{this._id}}">Delete Article</button>
    
    </li>{{/each}}
</ul>
<footer>End</footer>